/*start main website area*/
.noPadding{
    padding-left: 0;
    padding-right: 0;
}
.noMargin{
    margin-left: 0;
    margin-right: 0;
}
.hero{
    background: url(https://beyond-p.netlify.app/img/main-img.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
}
.hero .hero-inside{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0;
}
.menu{
    margin-top: 30px;
    margin-left: 50px;
}
.label{
    font-size: 30px;
    line-height: 70px;
    color: red;
    cursor: pointer;
    display: none;
}
#toggle{
    display: none;
}
.itemMenu{
    padding-right: .5rem;
    padding-left: .5rem;
    color: #f1f1f1;
    font-size: 15px;
    font-weight: 500;
}
.helloTitle{
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 100;
    margin-bottom: 5px;
    color: white;
}
.nameTitle{
    font-size: 70px;
    font-weight: 900;
    color: white;
}
.jobsTitle{
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0 ,0, 0.5);
    display: flex;
    letter-spacing: 4px;
    padding: 8px;
}
.jobsTitle hr{
    width: 10px;
    border: 1px #ff0000 solid;
}
.socialMediaIcons ul{
    list-style-type: none;
    margin-bottom: 200px;
    color: white;
    margin-top: 20px;
}
.socialMediaIcons ul li{
    display: inline;
    margin: 0 20px 0 0;
}
@media only screen and (max-width:812px){
    .label{
        display: block;
        float: right;
        margin-left: 426px;
    }
    .menu{
        text-align: center;
        width: 100%;
        display: block;
        background-color: black;
        margin-top: -30px;

    }
    .menu a{
        display: block;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    #toggle checked + .menu{
        display: block;
    }
}
@media only screen and (max-width:1200px) and (min-width:1024px){
   .jobsTitle{
       font-size: 12px;
       padding-top: 18px;
   }
   .jobsTitle hr{
       margin-top: 0.5rem;
   }
}
@media only screen and (min-width: 768px) and (max-width:1024px){
    .menu ul li{
        margin: 0px 10px 0 0;
    }
    .jobsTitle{
        font-size: 12px;
        padding: 0;
    }
    .jobsTitle hr{
        margin-top: 0.5rem;
    }
}
@media only screen and (orientation:portrait) and (min-width: 1024px) and (max-width:1200px){
    .hero .hero-inside{
        height: 40%;
    }
}
@media only screen and (orientation:landscape) and (min-width: 375px){
    .hero .hero-inside{
        height: 100%;
    }
}
@media only screen and (orientation:landscape) and (min-width: 1024px){
    .hero .hero-inside {
        height: 100%;
    }
}
@media only screen and (orientation:portrait) and (min-width: 375px){
    .hero .hero-inside{
        height: 25%;
    }
}
/*end main website area*/
/*start about area*/
.aboutTitle{
    font-size: 35px;
    font-weight: bolder;
    margin-block-end: 40px;
    margin-top: 60px;
}
.verticalLine{
    border-left: 2px solid red; 
    position: absolute;
    height: 30px; 
    left: 50%; 
    margin-top: 120px;
    padding-bottom: 13px;
}
.aboutLeft{
    font-size: 20px;
    font-weight: bolder;
    margin-block-end: 15px;
}
.blackLine1{
    border-top: 2px solid black;
    margin-block-end: 5px;
    margin-top: 5px;
    width:30px;
}
.descriere{
    font-size: 20px;
    font-weight: none;
    margin-block-end: 15px;
}
.skillsAbilitiesTitle{
    font-size: 20px;
    font-weight: bolder;
    margin-block-end: 15px;
}
.blackLine2{
    border-top: 2px solid black;
    margin-block-end: 5px;
    margin-top: 5px;
    width:30px;
}
.webDesignTitle{
    font-size: 20px;
    font-weight: none;
    margin-top: 15px;
    margin-bottom: 10px;
}
.procent1{
    margin-top: -20px;
    margin-left: 315px;
    font-size: 10px;
    font-weight: bold;
}
.redBar1{
    background: #dddddd;
    width: 100%;
    margin-block-end: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: all 3s;
    height: 6px;
    border-radius: 2px;
    padding-top: 2px;
}
.redBar1 .red1{
    background: #ff0000;
    width: 92%;
    height: 2px;
    padding-left: 3px;
}
.photoshopTitle{
    font-size: 20px;
    font-weight: none;
    margin-top: 15px;
    margin-bottom: 10px;
}
.procent2{
    margin-top: -20px;
    margin-left: 260px;
    font-size: 10px;
    font-weight: bold;
}
.redBar2{
    background: #dddddd;
    width: 100%;
    margin-block-end: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: all 3s;
    height: 6px;
    border-radius: 2px;
    padding-top: 2px;
}
.redBar2 .red2{
    background: #ff0000;
    width: 77%;
    height: 2px;
    padding-left: 3px;
}
.developmentTitle{
    font-size: 20px;
    font-weight: none;
    margin-top: 15px;
    margin-bottom: 10px;
}
.procent3{
    margin-top: -20px;
    margin-left: 320px;
    font-size: 10px;
    font-weight: bold;
}
.redBar3{
    background: #dddddd;
    width: 100%;
    margin-block-end: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: all 3s;
    height: 6px;
    border-radius: 2px;
    padding-top: 2px;
}
.redBar3 .red3{
    background: #ff0000;
    width: 95%;
    height: 2px;
    padding-left: 3px;
}
.jobsEducationTitle{
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
    margin-block-end: 15px;
}
.blackLine3{
    border-top: 2px solid black;
    margin-block-end: 5px;
    margin-top: 5px;
    width:30px;
}
.creativeDirectorTitle{
    font-weight: bolder;    
}
.data1{
    font-weight: bolder;
    font-size: 10px;
    font-weight: 600;
    width: 90px;
    height: 25px;
    padding: 4px 8px;
    border: 1px solid #d3d3d3;
    margin: 14px 0; 
}
.freelanceTitle{
    color: red;
}
.freelanceTitle p{
    color: gray;
}
.envatoTitle{
    font-size: 20px;
    font-weight: bolder;
}
.data2{
    font-weight: bolder;
    font-size: 10px;
    font-weight: 600;
    width: 95px;
    height: 25px;
    padding: 4px 8px;
    border: 1px solid #d3d3d3;
    margin: 14px 0; 
}
.freelancerTitle{
    color: red;
}
.freelancerTitle p{
    color: grey;
}
.specializationCourseTitle{
    font-size: 20px;
    font-weight: bolder;
}
.data3{
    font-weight: bolder;
    font-size: 10px;
    font-weight: 600;
    width: 95px;
    height: 25px;
    padding: 4px 8px;
    border: 1px solid #d3d3d3;
    margin: 14px 0; 
}
.universityTitle{
    color: red;
}
.universityTitle p{
    color: grey;
}
.specializationCourseTitle2{
    font-size: 20px;
    font-weight: bolder;
}
.data4{
    font-weight: bolder;
    font-size: 10px;
    font-weight: 600;
    width: 95px;
    height: 25px;
    padding: 4px 8px;
    border: 1px solid #d3d3d3;
    margin: 14px 0;
}
.specializationCourseTitle2 p{
    font-weight: none;
}
.freelancer2Title{
    color: red;
}
.freelancer2Title p{
    color: grey;
}
@media only screen and (min-width: 1024px) and (max-width:1200px){
    .procent1{
        margin-left: 260px;
    }
    .procent2{
        margin-left: 221px;
    }
    .procent3{
        margin-left: 266px;
    }
}
@media only screen and (orientation:landscape) and (min-width: 768px) and (max-width:1024px){
    .procent1{
        margin-left: 257px;
    }
    .procent2{
        margin-left: 158px;
    }
    .procent3{
        margin-left: 194px;
    }
}
@media only screen and (orientation:portrait) and (min-width: 768px) and (max-width:1024px){
    .procent1{
        margin-left: 188px;
    }
    .procent2{
        margin-left: 158px;
    }
    .procent3{
        margin-left: 194px;
    }
}
@media only screen and (orientation:portrait) and (min-width: 1024px) and (max-width:1200px){
    .procent1{
        margin-left: 258px;
    }
    .procent2{
        margin-left: 216px;
    }
    .procent3{
        margin-left: 266px;
    }
}
@media only screen and (orientation:landscape) and (min-width: 375px){
    .procent1{
        margin-left: 189px;
    }
}
@media only screen and (orientation:landscape) and (min-width: 1024px){
    .procent1{
        margin-left: 315px;
}

/*end about area*/
/*start carousel area*/
.flex-direction-nav{
    display: none;
}
.flexslider ul{
    width: 30%;
    height: 40%;
}
.slideBox1{
    border: 1px solid rgb(247, 243, 243);
    border-radius: 4px;
    padding: 5px;
    padding-right: 5px;
    margin-right: 20px;
}
.numberOfSlide1{
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    color: #ff3636;
    margin-bottom: 20px;
    margin-top: 20px;
}
.laptopIcons{
    margin-left: 220px;
    color: grey;
    font-size: 60px;
    margin-top:-50px;
}
.slideTitle1{
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
}
.horizontalLine1{
   width: 85%;
}
.flexslider ul li p{
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
}
.slideBox2{
    border: 1px solid rgb(247, 243, 243);
    border-radius: 4px;
    padding: 5px;
    padding-right: 5px;
    margin-right: 20px;
}
.numberOfSlide2{
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    color: #ff3636;
    margin-bottom: 20px;
    margin-top: 20px;
}
.videoCameraIcons{
    margin-left: 220px;
    color: grey;
    font-size: 60px;
    margin-top:-50px;
}
.slideTitle2{
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
}
.horizontalLine2{
    width: 85%;
 }
 .flexslider ul li p{
     color: grey;
     margin-top: 20px;
     margin-bottom: 20px;
 }
 .slideBox3{
    border: 1px solid rgb(247, 243, 243);
    border-radius: 4px;
    padding: 5px;
    padding-right: 5px;
    margin-right: 20px;
}
.numberOfSlide3{
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    color: #ff3636;
    margin-bottom: 20px;
    margin-top: 20px;
}
.videoCameraIcon{
    margin-left: 220px;
    color: grey;
    font-size: 60px;
    margin-top:-50px;
}
.slideTitle3{
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
}
.horizontalLine3{
    width: 85%;
 }
 .flexslider ul li p{
     color: grey;
     margin-top: 20px;
     margin-bottom: 20px;
 }
 .slideBox4{
    border: 1px solid rgb(247, 243, 243);
    border-radius: 4px;
    padding: 5px;
    padding-right: 5px;
    margin-right: 20px;
}
.numberOfSlide4{
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    color: #ff3636;
    margin-bottom: 20px;
    margin-top: 20px;
}
.computerIcon{
    margin-left: 220px;
    color: grey;
    font-size: 60px;
    margin-top:-50px;
}
.slideTitle4{
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
}
.horizontalLine4{
    width: 85%;
 }
 .flexslider ul li p{
     color: grey;
     margin-top: 20px;
     margin-bottom: 20px;
 }
 @media only screen and (min-width: 768px) and (max-width:1024px){
     .laptopIcons{
        margin-left: 126px;
        font-size: 58px;
     }
     .videoCameraIcons{
        margin-left: 126px;
        font-size: 58px;
     }
     .computerIcon{
        margin-left: 126px;
        font-size: 58px;
     }
 }
 @media only screen and (orientation:portrait) and (min-width: 1024px) and (max-width:1200px){
    .flex-control-nav{
    display: none;
    }
    .flexslider ul{
        height: 0;
    }
}
/*end carousel area*/
/*start work area*/
.work{
    background-color: #f7f7f7;
}
.myRecentWorksTitle{
    font-size: 15px;
    color: red;
    margin-top:50px;
    margin-left: 50px;
}
.myRecentWorksTitle hr{
    width: 50px;
    border: 1px #ff0000 solid;
    margin: 7px 0 -15px 0 ;
    margin-left: -70px;
}
.myWorkTitle{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;
    margin-left: 50px;
}
.buttons{
    color:grey;
    margin-bottom: 20px;
}
.allimg1{
    margin-bottom: 30px;
}
/*end work area*/

/*start testimonials area*/
.whatOurClientSayTitle{
    font-size: 15px;
    color: red;
    margin-top: 100px;
    margin-left: 50px;
}
.whatOurClientSayTitle hr{
    width: 50px;
    border: 1px #ff0000 solid;
    margin: 0 0 -15px 0 ;
    margin-left: -70px;
}
.testimonialsTitle{
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    margin-left: 50px;
}
/*end testimonials area*/

/*start testimonials carousel area*/
.flexsliderTestimonials{
    width: 100%;
}
/*end testimonials carousel area*/

/*start blog area*/
.seeLatestNewsTitle{
    font-size: 15px;
    color: red;
    margin-top: 100px;
    margin-left: 50px;
}
.seeLatestNewsTitle hr{
    width: 50px;
    border: 1px #ff0000 solid;
    margin: 0 0 -15px 0 ;
    margin-left: -70px;
}
.myBlogTitle{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 70px;
    font-family: 'Raleway', sans-serif;
    margin-left: 50px;
}
.blog{
    background-color: #f7f7f7;
    width: 100%;
}
.boxImg1{
  border: 1px solid rgb(235, 232, 232);
}
.travellingButton{
    position: absolute;
    top: 15px;
    right: 15px;
    background: #ff3636;
    border-radius: 4px;
    z-index: 3;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 8px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #ffffff;
}
.calendar{
    padding-left: 20px;
}
.text{
    padding-left: 20px;
}
.autor .autor1{
    border-radius: 50%;
    padding-left: 1px;
    margin-top: 20px;
    margin-left: 17px;
}
.travelling .calendar{
   margin-top: 30px;
}
.johnSmithTitle{
    font-size: 13px;
    margin-top: -20px;
    margin-left: 58px;
    margin-bottom: 25px;
}
.boxImg2{
    border: 1px solid rgb(235, 232, 232);
}
.travelling .calendar{
    margin-top: 30px;
}
.travelling .calendar{
    margin-top: 30px;
}
.text{
    margin-top: 15px;
    font-size: 23px;
}
.boxImg3{
    border: 1px solid rgb(235, 232, 232);
}
@media only screen and (min-width: 1024px) and (max-width:1200px){
    .autor .autor1{
        margin-left: -76px;
    }
    .johnSmithTitle{
        margin-left: -40px;
    }
}
@media only screen and (min-width: 768px) and (max-width:1024px){
    .fa{
        padding-left: 17px;
    }
    .autor .autor1{
        margin-left: -55px;
    }
    .johnSmithTitle{
        margin-left: -17px;
    }
}
@media only screen and (orientation:landscape) and (min-width: 375px){
    .autor .autor1{
        margin-left: 16px;
    }
    .johnSmithTitle{
        margin-left: 57px;
    }
}
@media only screen and (orientation:portrait) and (min-width: 1024px){
    .autor .autor1{
        margin-left: 17px;
    }
    .johnSmithTitle {
        margin-left: 59px;
    }
}
/*end blog area*/
/*start contact area*/
.getInTouchTitle{
    font-size: 15px;
    color: red;
    margin-top: 100px;
    margin-left: 50px;
}
.getInTouchTitle hr{
    width: 50px;
    border: 1px #ff0000 solid;
    margin: 0 0 -15px 0 ;
    margin-left: -70px;
}
.partInfo{
    background-color:#f9f9f9;
}
.contactMeTitle{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 70px;
    font-family: 'Raleway', sans-serif;
    margin-left: 50px;
}
.phone{
    position: relative;
    border-right: 1px solid #e4e4e4;
    text-align: center;
}
.icons1{
    color:red;
    font-size: 40px;
    text-align: center;
    padding-bottom: 15px;
    margin-top: 20px;
}
.myLocationTtitle{
    font-family: 'Raleway', sans-serif;
    color: #151515;
    font-weight: bold;
    text-align: center;
}
.myLocationTtitle p{
    color: grey;
    font-weight:none;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}
.location{
    position: relative;
    border-right: 1px solid #e4e4e4;
    text-align: center;
}
.icons2{
    color:red;
    font-size: 40px;
    text-align: center;
    padding-bottom: 15px;
    margin-top: 20px;
}
.phoneNumberTitle{
    font-family: 'Raleway', sans-serif;
    color: #151515;
    font-weight: bold;
    text-align: center;
}
.phoneNumberTitle p{
    color: grey;
    font-weight:none;
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
}
.email{
    text-align: center;
}
.icons3{
    color:red;
    font-size: 40px;
    text-align: center;
    padding-bottom: 15px;
    margin-top: 15px;
}
.emailAdressTitle{
    font-family: 'Raleway', sans-serif;
    color: #151515;
    font-weight: bold;
    text-align: center;
}
.emailAdressTitle p{
    color: rgb(6, 137, 245);
    font-weight:none;
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
}
.contactMessage{
    background: #f9f9f9;
}
.name{
    background: transparent;
    padding: 10px 15px;
    border-radius: 0;
    width: 100%;
    border: transparent;
    border: 1px solid #e4e4e4;
    margin-bottom: 15px;
    font-size: 12px;
    margin-top: 100px;
}
.emailBox{
    background: transparent;
    padding: 10px 15px;
    border-radius: 0;
    width: 100%;
    border: transparent;
    border: 1px solid #e4e4e4;
    margin-bottom: 15px;
    font-size: 12px;
    margin-top: 100px;
}
.subject{
    background: transparent;
    padding: 10px 15px;
    border-radius: 0;
    width: 100%;
    border: transparent;
    border: 1px solid #e4e4e4;
    margin-bottom: 15px;
    font-size: 12px;
}
.message{
    width: 100%;
    min-height: 120px;
    max-height: 120px;
    background: transparent;
    border: transparent;
    border: 1px solid #e4e4e4;
    font-size: 12px;
    border-radius: 0;
}
.buttonMessage{
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #ff3636;
    border: 1px solid #ff3636;
    position: relative;
    padding: 15px 20px;
    box-shadow: 0px 4px 38px -6px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    transition: all .5s ease;
    margin-top: 30px;
    margin-bottom: 130px;
}
@media only screen and (min-width: 1024px) and (max-width:1200px){
    .icons2{
        padding-left: 124px;
    }
    .phoneNumberTitle{
        margin-left: 78px;
    }
    .icons3{
        margin-top: 25px;
    }
}
@media only screen and (min-width: 768px) and (max-width:1024px){
    .icons3{
        margin-top: 21px;
    }
}
/*end contact area*/
/*start last part area*/
.footer{
    position: relative;
    overflow: hidden;
    background: #171717;
    padding: 50px;
}
.logo{
    margin-top: 30px;
    margin-bottom: 30px;
}
.lastPartSite{
    margin-bottom: 30px;
}
.lastPartSite ul li{
    color: white;
    list-style-type: none;
    display: inline;
    margin: 0 20px 0 0;
    margin-top:30px;
    margin-bottom: 30px;
    transition: all .5s;
}
.copyright{
    color: grey;
    margin-bottom: 30px;
}
/*end last part area*/